@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*index.html*/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #fff;
  width: fit-content;
  border-radius: 4px;
  border: none;
  padding: 8px 34px;
}

.button-blue {
  background-color: #82B3D3;
}

.link {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*header*/
.navigation-logo {
  display: block;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

/*main*/
/*bunner*/
.main-bunner {
  background-image: url(../images/pictures/background-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #2b3a3f;
  color: #fff;
  padding-bottom: 82px;
  padding-top: 51px;
}

.bunner-img {
  display: block;
  margin: 0 auto;
}

.main-header {
  margin-top: 0;
}

.bunner-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.bunner-heading {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

/*advantages*/
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.subtitle-white {
  color: #ffffff;
}

/*services*/

/*search*/
.main-search {
  text-align: center;
}

/*subscription*/
.main-subscription {
  background-image: url(../images/pictures/subscribe\ .jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #2b3a3f;
  color: #fff;
  text-align: center;
}

input[type=email] {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  border: none;
}

/*footer*/

.footer-phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

/*catalog*/
/*hotels choise*/

.hotels-wrapper {
  background-image: url(../images/pictures/filter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #2b3a3f;
}

.hotels-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}


.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.checkbox-text {
  line-height: 23px;
}

.input-filter {
  width: 143px;
  height: 48px;
}

.input-left {
  border-radius: 4px 0 0 4px;
}

.input-right {
  border-radius: 0 4px 4px 0;
}

input[type=number] {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  border: none;
}

input[type=range] {
  width: 287px;
}

.button-reset {
  background-color: rgba(0, 0, 0, 0);
}

.button-filter {
  width: 191px;
  height: 36px;
}

/*hotels-sorting*/

.sorting-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  height: 49px;
  border-radius: 0;
  color: #333;
  border: 2px solid #E5E5E5;
}

.button-view {
  background-color: #fff;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-current {
  background-color: #fff;
  width: 48px;
  height: 48px;
  border: 2px solid #000;
  border-radius: 4px;
}

/*hotels-cards*/

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000;
  text-align: left;
  text-transform: capitalize;
}

.card-text-uppercase {
  text-transform: uppercase;
}

.button-green {
  background-color: #7db54f;
}

/*pagination*/

.pagination-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link {
  color: #000
}

.pagination-white {
  color: #fff;
}

/*footer*/

.page-subscription {
  background-color: #fff;
  background-size: cover;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.page-subscription input {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
