@font-face {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/*index.html*/

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #fff;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  border: none;
}

.button-blue {
  background-color: #82B3D3;
}

.link {
  text-decoration: none;
}

.list-type {
  list-style: none;
}

/*header*/

.navigation-list a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.search-link {
  background-image: url(../images/icons/search.svg);
  width: 18px;
  height: 18px;
}

.favorite-link {
  background-image: url(../images/icons/heart.svg);
  width: 20px;
  height: 20px;
}

/*main*/
/*bunner*/
.main-bunner {
  background-image: url(../images/pictures/background-hero.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.bunner-slogan {
  padding-top: 51px;
  padding-bottom: 82px;
}

.bunner-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.bunner-heading {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

/*advantages*/
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.subtitle-white{
  color: #ffffff;
}

.advantages-text{
  font-size: 18px;
}

/*services*/
.image-container {
  display: inline-block;
  width: 75px;
  height: 72px;
}

.image-house {
  background-image: url(../images/icons/advantage-housing.svg);
}

.image-burger {
  background-image: url(../images/icons/advantage-food.svg);
}

.image-gift {
  background-image: url(../images/icons/advantage-gift.svg);
  height: 75px;
}

/*search*/
.main-search {
  text-align: center;
}

/*subscription*/
.main-subscription {
  background-image: url(../images/pictures/subscribe\ .jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription-wrapper {
  padding-top: 98px;
  padding-bottom: 104px;
}

/*footer*/
.social-item-vk {
  background-image: url(../images/icons/vk.svg);
  width: 24px;
  height: 14px;
}

.social-item-telegram {
  background-image: url(../images/icons/telegram.svg);
  width: 18px;
  height: 16px;
}

.social-item-youtube {
  background-image: url(../images/icons/youtube.svg);
  width: 22px;
  height: 17px;
}

.footer-phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

/*catalog*/
/*hotels choise*/

.hotels-wrapper {
  background-image: url(../images/pictures/filter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}

.hotels-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.breadcrumbs-home {
  background-image: url(../images/icons/home.svg);
  width: 12px;
  height: 12px;
}

.breadcrumbs-arrow {
  background-image: url(../images/icons/breadcrumbs-arrow.svg);
  width: 6px;
  height: 10px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.checkbox-text {
  line-height: 23px;
}

.input-filter {
  width: 143px;
  height: 48px;
}

.input-left {
  border-radius: 4px 0 0 4px;
}

.input-right {
  border-radius: 0 4px 4px 0;
}

input[type=number] {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

input[type=range] {
  width: 287px;
}

.button-reset {
  background-color: rgba(0, 0, 0, 0);
}

.button-filter {
  width: 191px;
  height: 36px;
}

/*hotels-sorting*/

.sorting-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control{
  width: 292px;
  height: 49px;
  border-radius: 0;
  color: #333;
}

.button-view{
  background-color: #fff;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.button-current{
  background-color: #fff;
  width: 48px;
  height: 48px;
  border: 2px solid #000;
  border-radius: 4px;
}
.button-tiles{
  background-image: url(../images/icons/view-tiles.svg);
  width: 16px;
  height: 14px;
}

.button-single{
  background-image: url(../images/icons/view-single.svg);
  width: 16px;
  height: 14px;
}

.button-list{
  background-image: url(../images/icons/view-list.svg);
  width: 16px;
  height: 14px;
}
