@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*index.html*/
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.row {
  padding-right: 70px;
  padding-left: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  width: fit-content;
  border-radius: 4px;
  border: none;
  margin: 0;
  padding: 8px 50px;
}

.button-blue {
  background-color: #82B3D3;
}

.link {
  display: block;
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*header*/
.navigation {
  display: flex;
}

.logo-img {
  display: block;
  margin-bottom: -6px;
  margin-right: 30px;
}

.navigation-list {
    display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-menu {
  display: flex;
  align-items: center;
  max-width: 132px;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-search {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 44px;
  height: 64px;
}

.navigation-favorite {
  background-image: url(../images/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 44px;
  height: 64px;
}

.button-want {
  display: block;
  align-self: center;
  padding: 8px 34px;
}

.navigation-logo {
  display: block;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  padding: 20px 16px;
  position: relative;
}

.navigation-link[aria-current="page"]::after{
  display: block;
  content: "";
  background-color: #756257;
  width: 68px;
  height: 2px;
  position: absolute;
  bottom: 0;
  }

/*main*/


/*bunner*/
.main-bunner {
  background-image: url(../images/pictures/divider-hero.svg), url(../images/pictures/background-hero.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center center;
  text-align: center;
  background-color: #2b3a3f;
  color: #ffffff;
  padding-bottom: 82px;
  padding-top: 51px;
}

.bunner-img {
  display: block;
  margin: 0 auto;
}

.main-header {
  margin-top: 0;
}

.bunner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 69px 70px;
}

.bunner-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
}

.bunner-span {
  display: block;
}

.bunner-heading {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

/*advantages*/

.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-pic {
  display: flex;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  box-sizing: border-box;
  padding: 103px 85px;
  margin: 0;
}

.card-middle {
  height: 385px;
  width: 400px;
  padding: 80px 85px;
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.line-white::after {
  display: block;
  content: "";
  background-image: url(../images/pictures/line-white.svg);
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
}

.line-gray::after{
  display: block;
  content: "";
  background-image: url(../images/pictures/line-gray.svg);
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
}
.advantages-text {
  margin: 0;
}

.subtitle-white {
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/*services*/

.services-heading {
  margin-bottom: 30px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}



.services-wrapper:nth-child(2) {
  background-color: inherit;
}



.services-image-house::before {
  display: block;
  content: "";
  background-image: url(../images/icons/advantage-housing.svg);
  background-size: contain;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.services-image-food::before {
  display: block;
  content: "";
  background-image: url(../images/icons/advantage-food.svg);
  background-size: contain;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.services-image-souvenirs::before {
  display: block;
  content: "";
  background-image: url(../images/icons/advantage-gift.svg);
  background-size: contain;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 30px;

}

.services-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

/*search*/
.main-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-paragraph{
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

/*subscription*/
.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-subscription {
  background-image: url(../images/pictures/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2b3a3f;
  color: #ffffff;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subscription-text{
  margin-bottom: 54px;
  text-align: center;
}

.subscription-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription-input {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  padding: 14px 20px;
  width: 452px;
  display: block;
  box-sizing: border-box;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

/*footer*/

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-wrapper {
  display: flex;
}

.social-link {
  width: 48px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-vk {
  background-image: url(../images/icons/vk.svg);
}

.social-telegram {
  background-image: url(../images/icons/telegram.svg);
}

.social-youtube {
  background-image: url(../images/icons/youtube.svg);
}

.footer-phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.academy-logo {
  display: block;
}

/*catalog*/
/*hotels choise*/

.hotels-wrapper {
  background-image: url(../images/pictures/filter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #2b3a3f;
  padding: 35px 70px 70px 70px;
}

.breadcrumbs-list {
  display: flex;
}

.hotels-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-wrapper {
  display: flex;
  align-items: flex-end;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-right: 38px;
}

.control {
  display: block;
}

.checkbox-text {
  line-height: 23px;
  display: block;
}

.filter-item {
  display: flex;
}

.filter-housing {
  margin-left: 70px;
  margin-right: 70px;
}

.cost-filter-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  margin-left: auto;
  margin-right: 70px;
}

.filter-inputs {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.input-filter {
  display: block;
  width: 143px;
  margin-bottom: 36px;
}

.input-left {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.input-right {
  border-radius: 0 4px 4px 0;
}

input[type=range] {
  margin-right: 70px;
  height: 20px;
  margin-bottom: 0;
  display: block;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.button-reset {
  background-color: rgba(0, 0, 0, 0.0);
  padding: 8px 58px;
}

/*hotels-sorting*/

.hotels-sorting {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.sorting-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  height: 49px;
  border-radius: 0;
  color: #333333;
  border: 2px solid #e5e5e5;
  margin-right: 70px;
}

.veiw-wrapper {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.button-view {
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-current {
  border: 2px solid #000000;
}

.view-tiles {
  background-image: url(../images/icons/view-tiles.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: 50% 50%;
}

.view-single {
  background-image: url(../images/icons/view-single.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: 50% 50%;
}

.view-list {
  background-image: url(../images/icons/view-list.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: 50% 50%;
}

/*hotels-cards*/

.hotels-cards {
  padding: 40px 70px 60px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  padding: 20px;
  gap: 16px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: left;
  text-transform: capitalize;
}

.card-text-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-text {
  display: block;
}

.card-text-uppercase {
  text-transform: uppercase;
}

.card-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-detail {
  padding: 8px 26px;
}

.button-favorite {
  padding: 8px 20px;
}

.button-green {
  background-color: #7db54f;
}

.rate-wrapper {
  display: flex;
  justify-content: space-between;
}

.star {
  width: 105px;
  height: 17px;
}

.star::before {
  content: '';
  display: block;
  height: 17px;
  background-image: url(../images/icons/star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
}

.star-4::before {
  width: 85px;
}

.star-3::before {
  width: 59px;
}

.star-2::before {
  width: 37px;
}

/*pagination*/

.pagination-container {
  display: flex;
  gap: 8px;
  margin-bottom: 60px;
}

.pagination-link {
  color: #000000;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 13px 25px;

}

.pagination-item:last-child .pagination-link {
  padding: 13px 19px;
}

.pagination-item:nth-child(5) .pagination-link {
  font-size: 22px;
  line-height: 26px;
  padding: 18px 22px;
}

.link-white {
  color: #ffffff;
}

/*footer*/

.page-subscription {
  background-color: #ffffff;
  background-size: cover;
}
