@font-face {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #fff;
}

.link {
  text-decoration: none;
}

.list-type {
  list-style: none;
}

.navigation-list a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.search-link {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.favorite-link {
  background-image: url(../images/icons/heart.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.main-bunner {
  background-image: url(../images/pictures/background-hero.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}


.bunner-slogan {
  padding-top: 51px;
  padding-bottom: 82px;
}

.bunner-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.bunner-heading {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}



.main-subscription {
  background-image: url(../images/pictures/subscribe\ .jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription-wrapper {
  padding-top: 98px;
  padding-bottom: 104px;
}

.hotels-choice {
  background-image: url(../images/pictures/filter.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
}

.breadcrumbs-link {
  color: #fff;
}
